@page
@model Training_Records_Management_System.Pages.SubjectPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="h2">
     Are you sure you would like to delete this subject?
</div>
    <hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.Title)
        </dd>
    </dl>
    <br />
    <form method="post">
        <input type="hidden" asp-for="Subject.ID" />
        <a  class="btn btn-outline-success" asp-page="./Index">Cancel</a>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
