@page
@model Training_Records_Management_System.Pages.SubjectPages.EditModel

@{
    ViewData["Title"] = "Edit";
}
<div class="text-center h1">
     Edit Subject
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Subject.ID" />
            <div class="form-group">
                <label asp-for="Subject.Title" class="control-label"></label>
                <input asp-for="Subject.Title" class="form-control" />
                <span asp-validation-for="Subject.Title" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <a class="btn btn-danger" asp-page="./Index">Discard</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
