@page
@model Training_Records_Management_System.Pages.StudentPages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->

    <div class="Card">

        <div class="text-center h3">
            Enroll New Trainee
        </div>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">

                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Student.ForceNumber" class="control-label"></label>
                        <input asp-for="Student.ForceNumber" class="form-control" />
                        <span asp-validation-for="Student.ForceNumber" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Student.FileNumber" class="control-label"></label>
                        <input asp-for="Student.FileNumber" class="form-control" />
                        <span asp-validation-for="Student.FileNumber" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Student.LastName" class="control-label"></label>
                        <input asp-for="Student.LastName" class="form-control" />
                        <span asp-validation-for="Student.LastName" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Student.FirstName" class="control-label"></label>
                        <input asp-for="Student.FirstName" class="form-control" />
                        <span asp-validation-for="Student.FirstName" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="Student.EnrollmentDate" class="control-label"></label>
                        <input asp-for="Student.EnrollmentDate" class="form-control" />
                        <span asp-validation-for="Student.EnrollmentDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Student.DOB" class="control-label"></label>
                        <input asp-for="Student.DOB" class="form-control" />
                        <span asp-validation-for="Student.DOB" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Student.TelephoneNumber" class="control-label"></label>
                        <input asp-for="Student.TelephoneNumber" class="form-control" />
                        <span asp-validation-for="Student.TelephoneNumber" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Student.Origin" class="control-label"></label>
                        <input asp-for="Student.Origin" class="form-control" />
                        <span asp-validation-for="Student.Origin" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Student.Gender" class="control-label"></label>
                        <select asp-for="Student.Gender" class="form-control">
                            <option>MALE</option>
                            <option>FEMALE</option>
                        </select>
                        <span asp-validation-for="Student.Gender" class="text-danger"></span>
                    </div>

                    <br />
                    <br />
                    <div class="form-group">
                        <a class="btn btn-danger" asp-page="./Index">Cancel</a>
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
